{% load static %}
<section data-bs-version="5.1" class="features18 cid-sFGGxz3b6J" id="features19-a">

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg">
                <div class="card-wrapper">
                    <h6 class="card-title mbr-fonts-style mb-4 display-2"><strong>Sobre o Educadist</strong></h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis bibendum diam eu tellus cursus, sodales sollicitudin erat pulvinar. Quisque in mauris blandit, cursus ipsum non, hendrerit enim. Nullam fringilla ex sed maximus efficitur. <br><br>Sed auctor justo elit, ac vestibulum metus semper non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam ut viverra ex. Nunc non elementum urna, auctor faucibus est.</p>
                    <div class="mbr-section-btn"><a class="btn btn-secondary display-4" href="https://mobiri.se">Read More</a></div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/mbr-4.jpg' %}" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>
