{% load static %}
<section data-bs-version="5.1" class="map3 cid-sFGDeCn4OW" id="map3-6">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mb-4 align-center mbr-fonts-style display-2"><strong>Onde Estamos</strong></h3>
            </div>
            <div class="col-12">
                <h4 class="mbr-section-subtitle mb-3 align-center mbr-fonts-style display-5">Campus Ariquemes</h4>
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDk89J4FSunMF33ruMVWJaJht_Ro0kvoXs&amp;q=Rodovia RO-257, s/n - Zona Rural, Ariquemes - RO, 76870-000" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>