{% extends 'base.html' %}
{% load bootstrap %}
{% block titulo %}
        Editando Módulos do Curso {{ curso.slug }}
{% endblock %}
{% block conteudo %}
<section data-bs-version="5.1" class="features12 cid-te2ivoWk7A" id="features13-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="bg-dark text-white p-3">
                    Editando Módulos do Curso {{ curso.titulo }}
                </h1>
                <div class="item mbr-flex border border-success rounded p-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ formset|bootstrap }}
                        {{ formset.management_form }}
                        <p>
                            <input type="submit" class="btn btn-dark btn-lg"
                                   value="Salvar Módulos">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}